
body {
  width: 1000px;
  height: auto;
}
.parrafo {
  top: 50%;
  width: 400px;
  height: 0, auto, 900px,auto;
  padding-left: 400px;
  text-align: center;
  font-size: 18px;
  display: block;
}

input {
  display: block;
  width: 100%;
  height: 25px;
  border: solid black;
  opacity: 0.1;
  border-radius: 50px;
  background: white;
  margin: 20px 0 5px 0;
}
button{
  box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color:#2dabf9;
	border-radius:50px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:'Audiowide', cursive;
	font-size:15px;
  margin-top: 10px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}

.input{
  padding-left: 400px;
  text-align: center;
  width: 400px;
  display: block;
  height: 800px;
}

h1{
  font-family: 'Audiowide', cursive;
  font-size: 100px;
  margin-bottom: 0px;
}
h3{
  font-family: 'IBM Plex Mono', monospace;
  margin-top: 0px;
}


FORM{
  max-width: 40vw;
  max-height: 40vh;
  position: absolute;
  top: 50%;
  text-align: center;
  font-size: 18px;
}
div .b{
  display: grid;
  grid-gap: -10px;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 25%;

}

.barnner {
  max-width: 25vw;
  max-height: 25vh;
}

.icono{
  max-width: 15vw;
  max-height: 15vh;
}
